* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.topnavmobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 14px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

.topnavmobile a {
    color: #ffb700;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 16px;
    text-transform: uppercase;
}

.topnavmobile a.active {
    font-weight: bold;
    color: #ffa51f;
}

.topnavmobile .icon {
    font-size: 1.5rem;
    cursor: pointer;
}

#myLinks {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 56px; /* Adjust based on the height of the navbar */
    left: 0;
    z-index: 999;
}

#myLinks.active {
    display: flex;
}

#myLinks a {
    padding: 12px 16px;
    text-align: center;
    border-top: 1px solid #ccc;
    color: #ffb700;
}
