* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #f2f2f2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 74px;
}

.company-name a {
    color: #000;
    font-family: "Roboto Flex";
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    margin-right: 1em;
}

nav a {
    color: #000;
    font-family: "Work Sans";
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    text-decoration: none;
    margin-right: 1em;
}

/* Style the navigation menu */
.topnavmobile {
    display: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnavmobile #myLinks {
    display: none;
}

/* Responsive styles */
@media only screen and (max-width: 1200px) {
    #heroimg,
    #deskank,
    #instadesk,
    #nyhedsbrevdesk {
        display: none;
    }

    .location-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    hr {
        margin: 1rem;
        border-color: rgb(1, 1, 1);
    }

    .navbar {
        display: none;
    }

    .topnavmobile {
        display: block;
        overflow: hidden;
        background-color: hsl(0, 0%, 95%);
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .topnavmobile a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 0.8rem;
        display: block;
        color: #000;
        font-family: "Work Sans";
        font-weight: 400;
        text-transform: uppercase;
    }

    .topnavmobile a.icon {
        background: rgba(0, 0, 0, 0);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5rem;
    }

    .topnavmobile .active {
        font-size: 1.5rem;
        color: #000;
        font-family: "Roboto Flex";
        font-weight: 700;
        letter-spacing: -0.08rem;
    }
}


























/* Footer styles */
.footer {
    display: flex;
    flex-direction: column;
}

.footer p {
    color: #585858;
    font-family: "Work Sans";
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.footer h4 {
    color: #383838;
    font-family: "Work Sans";
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-rækker {
    display: flex;
    justify-content: space-around;
    margin: 0 5% 3% 5%;
    font-size: 2vw;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin: 0 5% 0 7%;
}

/* Specific styles */
.location h4 {
    color: #000;
    font-family: "DM Sans";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.1;
}

.nyhedsbrev img {
    display: none;
    width: 100vw;
    padding: 2rem 1.5rem;
}
