* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px; /* Further reduced base font size */
}

body {
    background-color: #ffffff;
}

.burger-menu {
    display: none; /* Initially hide burger menu on larger screens */
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .burger-menu {
        display: flex; /* Show burger menu on smaller screens */
        flex-direction: column;
        justify-content: space-around;
        height: 24px;
    }

    .bar {
        width: 24px;
        height: 3px;
        background-color: #000;
        transition: transform 0.3s ease-in-out;
    }

    .menu.active li {
        margin-right: 0;
    }

    .menu.active li:last-child {
        margin-bottom: 20px;
    }

    .menu.active a {
        color: #000;
    }

    .burger-menu.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem; /* Adjusted padding */
    font-size: 3rem;
}

.company-name a {
    color: #000000;
    font-family: "Helvetica";
    font-size: 3rem; /* Reduced font size */
    font-weight: 800;
    letter-spacing: -0.1rem;
    margin-right: 1em;
}

nav a {
    color: #000;
    font-family: "Helvetica";
    font-size: 2rem; /* Reduced font size */
    font-weight: 500;
    letter-spacing: -0.05rem;
    text-decoration: none;
    margin-right: 1em;
}

.topnavmobile {
    display: none;
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.topnavmobile #myLinks {
    display: none;
}



    hr {
        margin: 3rem;
        border-color: rgba(0, 0, 0, 0.961);
    }

    .navbar {
        display: none;
    }

    .topnavmobile {
        display: block;
        overflow: hidden;
        background-color: #ffffff;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .topnavmobile a {
        padding: 12px 14px; /* Adjusted padding */
        text-decoration: none;
        font-size: 0.7rem; /* Reduced font size */
        display: block;
        color: #000000;
        font-family: "Helvetica";
        font-weight: 400;
        text-transform: uppercase;
    }

    .topnavmobile a.icon {
        background: rgb(255, 255, 255);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3rem;
    }

    .topnavmobile .active {
        font-size: 3rem; /* Reduced font size */
        color: #000000;
        font-family: "Helvetica";
        font-weight: 700;
        letter-spacing: -0.08rem;
    }


.company-name a {
    font-family: "Helvetica";
}

nav a {
    font-family: "Helvetica";
}











.herotext {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
}

.herotext h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 4vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 30%;
    margin-top: 30%;
    margin-right: 20%;
    line-height: 130%;
}

.herotext h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 1.7vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    line-height:150%;
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 20%;
}

.text-image-container {
    display: flex;
}

.text-image-container img {
    height: auto;
    width: 30vw; /* Reduced width */
    margin-top: 50%;
    margin-left: 35%;
    margin-right: 50%;
}

.text-image-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Reduced padding */
}










.herotext1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
    max-width: 45vw;
}

.herotext1 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 4vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 25%;
    margin-top: 30%;
    line-height: 130%;
}

.herotext1 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 1.7vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-left: 25%;
    margin-top: 8%;
    margin-bottom: 15%;
    line-height: 150%;
}

.text-image-container1 img {
    height: auto;
    width: 40vw; /* Reduced width */
    margin-top: 10%;
    margin-left: -5%;
}

.text-image-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Reduced padding */
    margin-left: 5%;
    margin-top: 5%;
    
}










.herotext2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
    max-width: 45vw;
}

.herotext2 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 4vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 50%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: -5%;
}

.herotext2 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 1.7vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-right: 15%;
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 30%;
    line-height: 150%;
    margin-top: 17%;
    
}

.text-image-container2 img {
    height: auto;
    width: 40vw; /* Reduced width */
    margin-top: 20%;
    margin-right: 3%;
    margin-left: 0%;
    margin-bottom: 40%;
}





img {
    border-radius: 50px;
}






.footer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.footer p {
    color: #372222;
    font-family: "Helvetica";
    font-size: 0.8rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 5%;
}

.footer h4 {
    color: #383838;
    font-family: "Helvetica";
    font-size: 2rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
}

.footer-rækker {
    display: flex;
    justify-content: space-around;
    margin: 0 5% 3% 5%;
    font-size: 2vw; /* Reduced font size */
    margin-top: 30px;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem; /* Reduced font size */
    margin: 0 5% 0 7%;
}


.review-list {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 30%;
    margin-bottom: 15%;
}

.review {
    border: 1px solid #000000a2;
    padding: 20px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.review-title {
    margin: 0;
}

.review-rating {
    font-size: 20px;
}

.review-content {
    margin-top: 10px;
}

.review-author {
    margin-top: 10px;
    font-style: italic;
}



.container {
    width: 510px;
    margin: 0 auto;
    padding: 20px;
    background-color: #4d3114ca;
    border-radius: 6px;
    margin-top: 10%;
    margin-bottom: -20%;
}

h2 {
    text-align: center;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #cd927087;
    color: #c7ada0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fffffb;
}








.text-image-container5 {
    display: flex;
    margin-bottom: 20px;
}

.text-image-container5 div:first-child {
    flex: 1;
    text-align: center;
}

.text-image-container5 img {
    height: auto;
    width: 55vw; 
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 40%;
    margin-bottom: 10%;
}

.herotext8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem;
}

.herotext8 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3vw; 
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 3%;
    margin-top: 70%;
    margin-right: 10%;
}

.herotext8 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 1.7vw; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.015rem;
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 8%;

}
















.herotext7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
    max-width: 45vw;
}

.herotext7 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 5vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 50%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: -5%;
}

.herotext7 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 1.7vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-right: 15%;
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 30%;
    line-height: 150%;
    margin-top: 17%;
    
}


.text-image-container7 {
    display: flex;
}

.text-image-container7 img {
    height: auto;
    width: 45vw; /* Reduced width */
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 50%;
}

.text-image-container7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Reduced padding */
    margin-top: 15%;
    margin-bottom: 15%;
}











h1 {
    margin: 0;
}

main {
    padding: 1rem;
}

.beer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.beer-item {
    background-color: rgb(255, 253, 249);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 200px;
    margin-top: 8%;
    margin-bottom: 2%;
}

.beer-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

p {
    font-size: 1rem;
    color: #333;
}

.buy-button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 0.7rem;
    border-radius: 8px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #45a049;
}


















/* CSS for screens wider than 900px */
@media screen and (max-width: 768px) {
    .beer-item {
        width: calc(33.333% - 0.5rem);
    }

    

.herotext1 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 15%;
    line-height: 150%;
}
.herotext1 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 6vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 5%;
    margin-top: 30%;
    line-height: 130%;



    



}

.herotext h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    line-height:150%;
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
}
.herotext h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 6vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 15%;
    margin-top: 40%;
    margin-right: 0%;
    line-height: 130%;
}
.herotext2 h1 {

    color: #000;
    font-family: "Helvetica";
    font-size: 6vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 5%;
    margin-top: -10%;
    margin-right: 0%;
    line-height: 130%;


}

.herotext2 h3 {

    color: #000;
    font-family: "Helvetica";
    font-size: 3vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    line-height:150%;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 0%;
    margin-bottom: 20%;




}

.text-image-container img {
    height: auto;
    width: 45vw; /* Reduced width */
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 50%;
}




.text-image-container1 img {
    height: auto;
    width: 45vw; /* Reduced width */
    margin-top: 10%;
    margin-left: 0%;
}


.text-image-container2 img {
    height: auto;
    width: 45vw; /* Reduced width */
    margin-top: 20%;
    margin-right: 3%;
    margin-left: -5%;
    margin-bottom: 40%;
}
















.text-image-container5 {
    display: flex;
    margin-bottom: 20px;
}

.text-image-container5 div:first-child {
    flex: 1;
    text-align: center;
}

.text-image-container5 img {
    height: auto;
    width: 120vw; 
    margin-top: 2%;
    margin-left: -60%;
    margin-right: 0%;
    margin-bottom: 5%;
}

.herotext8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem;
}

.herotext8 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 6vw; 
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: -350%;
    margin-top: 170%;
    margin-right: 0%;
}

.herotext8 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3vw; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.015rem;
    margin-left: -350%;
    margin-top: 8%;
    margin-right: 250%;
    margin-bottom: 8%;

}











.footer {
    display: flex;
    flex-direction: column;
    font-size: 8rem;
}

.footer p {
    color: #372222;
    font-family: "Helvetica";
    font-size: 1.3rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 5%;
}

.footer h4 {
    color: #383838;
    font-family: "Helvetica";
    font-size: 2rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
}

.footer-rækker {
    display: flex;
    justify-content: space-around;
    margin: 0 5% 3% 5%;
    font-size: 2vw; /* Reduced font size */
    margin-top: 30px;
}









.herotext7 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 5vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 50%;
    margin-right: 1%;
    margin-left: 0%;
    margin-bottom: 0%;
}

.herotext7 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-right: 0%;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 150%;
    margin-top: 17%;
    
}


.text-image-container7 img {
    height: auto;
    width: 50vw; /* Reduced width */
    margin-top: 0%;
    margin-left: 1%;
    margin-right: 50%;
}


.container {
    width: 480px;
    margin: 0 auto;
    padding: 20px;
    background-color: #4d3114ca;
    border-radius: 6px;
    margin-top: 10%;
    margin-bottom: -20%;
}

h2 {
    text-align: center;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffefef;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e8b58287;
    color: #e1bba8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fffffb;
}



.review-list {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 30%;
    margin-bottom: 15%;
}

.review {
    border: 1px solid #000000a2;
    padding: 20px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.review-title {
    margin: 0;
}

.review-rating {
    font-size: 20px;
}

.review-content {
    margin-top: 10px;
}

.review-author {
    margin-top: 10px;
    font-style: italic;
}


body {
    background-color: #ffffff;
}
























    
}



