* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px; /* Further reduced base font size */
}

body {
    background-color: #fff7e3;
}




.burger-menu {
    display: none; /* Initially hide burger menu on larger screens */
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .burger-menu {
        display: flex; /* Show burger menu on smaller screens */
        flex-direction: column;
        justify-content: space-around;
        height: 24px;
    }

    .bar {
        width: 24px;
        height: 3px;
        background-color: #000;
        transition: transform 0.3s ease-in-out;
    }

    .menu.active li {
        margin-right: 0;
    }

    .menu.active li:last-child {
        margin-bottom: 20px;
    }

    .menu.active a {
        color: #000;
    }

    .burger-menu.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
}











nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem; /* Adjusted padding */
    font-size: 3rem;
}

.company-name a {
    color: #000;
    font-family: "Helvetica";
    font-size: 3rem; /* Reduced font size */
    font-weight: 800;
    letter-spacing: -0.1rem;
    margin-right: 1em;
}

nav a {
    color: #000;
    font-family: "Helvetica";
    font-size: 2rem; /* Reduced font size */
    font-weight: 500;
    letter-spacing: -0.05rem;
    text-decoration: none;
    margin-right: 1em;
}

.topnavmobile {
    display: none;
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnavmobile #myLinks {
    display: none;
}

@media only screen and (max-width: 1200px) {
    #heroimg, .location-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    hr {
        margin: 3rem;
        border-color: rgb(60, 60, 60);
    }

    .navbar {
        display: none;
    }

    .topnavmobile {
        display: block;
        overflow: hidden;
        background-color: #fff7e3;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .topnavmobile a {
        padding: 12px 14px; /* Adjusted padding */
        text-decoration: none;
        font-size: 0.7rem; /* Reduced font size */
        display: block;
        color: #000;
        font-family: "Helvetica";
        font-weight: 400;
        text-transform: uppercase;
    }

    .topnavmobile a.icon {
        background: rgba(0, 0, 0, 0);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3rem;
    }

    .topnavmobile .active {
        font-size: 3rem; /* Reduced font size */
        color: #000;
        font-family: "Helvetica";
        font-weight: 700;
        letter-spacing: -0.08rem;
    }
}

.company-name a {
    font-family: "Helvetica";
}

nav a {
    font-family: "Helvetica";
}

@media only screen and (max-width: 390px) {
    .navbar {
        display: none;
    }
}

.herotext {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
}

.herotext h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3.5vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 30%;
    margin-top: 20%;
    margin-right: 20%;
    line-height: 130%;
}

.herotext h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 2vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    line-height:150%;
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 20%;
}

.text-image-container {
    display: flex;
}

.text-image-container img {
    height: auto;
    width: 30vw; /* Reduced width */
    margin-top: 50%;
    margin-left: 35%;
    margin-right: 50%;
}

.text-image-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Reduced padding */
}

.herotext1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
    max-width: 45vw;
}

.herotext1 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3.5vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 25%;
    margin-top: 30%;
    line-height: 130%;
}

.herotext1 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 2vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-left: 25%;
    margin-top: 8%;
    margin-bottom: 15%;
    line-height: 150%;
}

.text-image-container1 img {
    height: auto;
    width: 40vw; /* Reduced width */
    margin-top: 10%;
    margin-left: -5%;
}

.text-image-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Reduced padding */
    margin-left: 5%;
    margin-top: 5%;
    
}

.herotext2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
    max-width: 45vw;
}

.herotext2 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3.5vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 50%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: -5%;
}

.herotext2 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 2vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-right: 15%;
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 30%;
    line-height: 150%;
    margin-top: 17%;
}

.text-image-container2 img {
    height: auto;
    width: 40vw; /* Reduced width */
    margin-top: 20%;
    margin-right: 3%;
    margin-left: 0%;
    margin-bottom: 40%;
}





img {
    border-radius: 50px;
}






.footer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.footer p {
    color: #372222;
    font-family: "Helvetica";
    font-size: 0.8rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 5%;
}

.footer h4 {
    color: #383838;
    font-family: "Helvetica";
    font-size: 2rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
}

.footer-rækker {
    display: flex;
    justify-content: space-around;
    margin: 0 5% 3% 5%;
    font-size: 2vw; /* Reduced font size */
    margin-top: 30px;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem; /* Reduced font size */
    margin: 0 5% 0 7%;
}







.review-list {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 30%;
    margin-bottom: 15%;
}

.review {
    border: 1px solid #000000a2;
    padding: 20px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.review-title {
    margin: 0;
}

.review-rating {
    font-size: 20px;
}

.review-content {
    margin-top: 10px;
}

.review-author {
    margin-top: 10px;
    font-style: italic;
}









.container {
    width: 510px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9e7ad;
    border-radius: 6px;
    margin-top: 10%;
    margin-bottom: -20%;
}

h2 {
    text-align: center;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffefef;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fffbd4;
    color: #393939;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fffffb;
}








.text-image-container5 {
    display: flex;
    margin-bottom: 20px;
}

.text-image-container5 div:first-child {
    flex: 1;
    text-align: center;
}

.text-image-container5 img {
    height: auto;
    width: 55vw; 
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 40%;
    margin-bottom: 10%;
}

.herotext8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem;
}

.herotext8 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 4vw; 
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 3%;
    margin-top: 55%;
    margin-right: 10%;
}

.herotext8 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 2.3vw; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.015rem;
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 20%;
}





















.text-image-container9 {
    display: flex;
}

.text-image-container9 img {
    height: auto;
    width: 30vw; /* Reduced width */
    margin-top: 0%;
    margin-left: 35%;
    margin-right: 50%;
}

.text-image-container9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Reduced padding */
    margin-top: 15%;
    margin-bottom: 15%;
}

.herotext9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.75rem; /* Reduced padding */
    max-width: 45vw;
    margin-top: 90%;
}

.herotext9 h1 {
    color: #000;
    font-family: "Helvetica";
    font-size: 3.5vw; /* Reduced font size */
    font-style: normal;
    font-weight: 750;
    letter-spacing: 0.03rem;
    line-height: 90%;
    margin-left: 25%;
    margin-top: 80%;
}

.herotext9 h3 {
    color: #000;
    font-family: "Helvetica";
    font-size: 2vw; /* Reduced font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.020rem;
    margin-left: 25%;
    margin-top: 100%;
    margin-bottom: 0%;
}